/**
 * Frontend Stylesheet
 *
 */ 

.note-content span{
	display: block;
}

.sss .note-list {
	background:#fefabc; 
	-moz-transform: rotate(1deg);
	-webkit-transform: rotate(1deg);
	-o-transform: rotate(1deg);
	-ms-transform: rotate(1deg);
	transform: rotate(1deg);	

	box-shadow: 0px 4px 6px #DDD;
	-moz-box-shadow: 0px 4px 6px #DDD;
	-webkit-box-shadow: 0px 4px 6px #DDD;

}

.sss .note-title {
    font-weight: bold;
}

.sss .note-list span {
    display: block;
	font-style: italic;
}

.sss .note-author {
	text-align: right;
}

.sss .note-content {
	padding-bottom: 5%;
}

/**
 * Super Simple Slider Stylesheet
 */ 
 .sss {
	height: 0;
	margin: 0; 
	padding: 0;
	position: relative;
	display: block;
}

.ssslide {
	width: 100%;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	overflow: hidden;
}

.ssslide img {
	max-width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
	position: relative;
	display: block;
}

.sssnext, .sssprev {
	width: 25px;
	height: 100%;
	margin: 0;
	position: absolute;
	top: 20%;
	/* background: url('../images/arr.png') no-repeat; */
}

.sssprev {
	left: 3%;
	background-position: 0 50%;
}

.sssnext {
	right: 3%;
	background-position: -26px 50%;
}

.sssprev:hover, .sssnext:hover {
	cursor: pointer;
}

.sss .note-text {
    padding: 5% 12% 2% 12%;
}
